@import "../variables.modules";

nav {
  transition: $transition;
  
}

.active {
  border-bottom: 5px solid;
  border-image-slice: 1;
}


li {
  transition: $transition;
  font-size: 25px;

  &:hover {
    transform: translateY(-3px);
    transition: $transition;
  }
}


.navbar.open {
  display: flex;
}

.menuIcon {
  display: none;
  cursor: pointer;
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 11; // Ensure the menu icon is above the navbar

  
}


.link {
  color: inherit;
  text-decoration: none;
}

.active {
  border-bottom: 4px solid currentColor;
}


.navbar {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  transition: all 0.3s ease;
  background-color: transparent; // Ensure background is transparent initially
  @media (max-width: 768px) {
    // Mobile styles
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; // Adjust as needed
    background-color: rgba(255, 255, 255, 0.9);
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    padding-top: 4rem;
  }
}



