@import "../variables.modules";

nav {
  transition: $transition;
  
}

.active {
  border-bottom: 5px solid;
  border-image-slice: 1;
}



li {
  transition: $transition;
  font-size: 30px;

  &:hover {
    transform: translateY(-3px);
    transition: $transition;
  }
}



.navbar {
  transition: all 0.3s ease;
  background-color: transparent; // Ensure background is transparent initially
  @media (max-width: 768px) {
      display: none;
      flex-direction: column;
      align-items: center;
      background-color: rgba(255, 255, 255, 0.9); // Transparent background when open
      position: fixed; // Use fixed to overlay the navbar
      top: 0;
      right: 0;
      width: 100%;
      height: 100vh;
      z-index: 10;
      padding-top: 4rem; // Add padding to avoid content overlap with menu icon

      .logo {
        display: none;
      }
  }


}

.navbar.open {
  display: flex;
}

.menuIcon {
  display: none;
  cursor: pointer;
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 11; // Ensure the menu icon is above the navbar

  @media (max-width: 768px) {
      display: block;
      
  }
}

.link {
  color: inherit;
  text-decoration: none;
}

.active {
  border-bottom: 4px solid currentColor;
}

.logo {
  width: 200px; // Adjust size as needed
  height: 150px; // Adjust size as needed
}

